@page "/about"



<body class="u-body">

    <section class="u-align-center u-clearfix" id="carousel_eef3">

        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="content-title-group not-found">
                <p>
                    Налоговая декларация о предполагаемом доходе физического лица (форма 4-НДФЛ)
                </p>
            </div>

            <div class="u-form u-form-1">
                <form action="" method="POST" class="u-inner-form" style="margin: 10px " source="email" name="form">

                    <div style="margin: 10px ">
                        <label for="inn-447e" class="u-label u-label-5">ИНН</label>
                        <input type="tel" pattern="[0-9]{12}" placeholder="Введите номер ИНН" id="phone-447e" name="ИНН" required="" oninvalid="this.setCustomValidity('Необходимо ввести 12-значный код')" oninput="setCustomValidity('')">
                    </div>

                    <div  style="margin: 10px ">
                        <link rel="stylesheet" type="text/css" href="app.css">
                        <label for="phone-447e" class="u-label u-label-5">Код по Октмо</label>
                        <input type="tel" pattern="\d+(,\d{2})?" placeholder="Введите код по ОКТМО" id="oktmo" name="ОКТМО" required="">
                    </div>

                    <div style="margin: 10px ">
                        <label for="name-f2a8" class="u-label u-label-2">Фамилия</label>
                        <input type="text" pattern="^[А-Яа-яЁё\s]+$" placeholder="Введите Вашу фамилию" name="name" required="" oninvalid="this.setCustomValidity('Только русская раскладка')" oninput="setCustomValidity('')">
                    </div>

                    <div style="margin: 10px ">
                        <label for="name-f2a8" class="u-label u-label-2">Имя</label>
                        <input type="text" pattern="^[А-Яа-яЁё\s]+$" placeholder="Введите Ваше имя" name="name" required="" oninvalid="this.setCustomValidity('Только русская раскладка')" oninput="setCustomValidity('')">
                    </div>

                    <div style="margin: 10px ">
                        <label for="fff-f2a8" class="u-label u-label-2">Отчество</label>
                        <input type="text" pattern="^[А-Яа-яЁё\s]+$" placeholder="Введите Ваше отчество" id="name-f2a8" name="name" required="" oninvalid="this.setCustomValidity('Только русская раскладка')" oninput="setCustomValidity('')">
                    </div>


                    <div style="margin: 10px ">
                        <label for="phone-447e" class="u-label u-label-5">Номер контактного телефона</label>
                        <input type="tel" pattern="\+?\d{0,2}[\s\(\-]?([0-9]{3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Введите номер (с +7)" id="phone-447e" required="" oninvalid="this.setCustomValidity('Введите номер корректно')" oninput="setCustomValidity('')">
                    </div>

                    <div style="margin: 10px ">
                        <link rel="stylesheet" type="text/css" href="app.css">
                        <label for="cash-447e" class="u-label u-label-5">Сумма предполагаемого дохода (руб.)</label>
                        <input type="tel" pattern="\d+(,\d{2})?" placeholder="Введите сумму" id="cash-447e" name="cash" required="" oninvalid="this.setCustomValidity('Округлите до целого числа')" oninput="setCustomValidity('')">
                    </div>

                    <div style="margin: 10px ">
                        <label for="message-f2a8" class="u-label u-label-6">
                            Достоверность и полноту сведений, указанных в настоящей декларации, подтверждаю :
                        </label>
                    </div>

                    <div style="margin: 10px ">
                        <textarea placeholder=" Фамилия, имя, отчество полностью" rows="4" cols="50" id="message-f2a8" name="message" class="u-border-2 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required=""></textarea>
                    </div>

                    <div style="margin: 10px ">
                        <label for="date-4441" class="u-label u-label-4">Дата</label>
                        <input type="date" placeholder="MM/DD/YYYY" id="date-4441" name="date" required="" oninvalid="this.setCustomValidity('Введите дату')" oninput="setCustomValidity('')">
                    </div>

                    <div style="margin: 10px ">
                        <label for="message-f2a8" class="u-label u-label-6">
                            Наименование и реквизиты документа,
                            подтверждающего полномочия представителя налогоплательщика :
                        </label>
                    </div>

                    <div style="margin: 10px ">
                        <textarea placeholder="" rows="4" cols="50" id="message-f2a8" name="message" class="u-border-2 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required=""></textarea>
                    </div>

                    <div style="margin: 10px ">
                        <label for="file">Вы можете загрузить файл с устройства</label>
                        <input type="file" id="file" name="file" multiple>
                    </div>

                    <div style="margin: 10px ">
                        <input type="submit" value="Отправить" class="title">
                    </div>

                </form>
            </div>
        </div>
    </section>

</body>